{% extends 'base.html.twig' %}
{% block title %}Bonjour Pseudo{% endblock %}
{% block content %}
<h1>Bonjour</h1>
{# nom est disponible car on l'a passé en paramètre de la méthode render() dans le controleur #}
Bonjour {{ nom }}
{% endblock %}