<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>HomePage</title>
</head>
<body>
<h1>Exercice 3</h1>
Bonjour {{ pseudo }}, tu as {{ age }} an{% if age > 1%}s{% endif %}
</body>
</html>



	