<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HomePage</title>
    </head>
    <body>
        <h1>Ceci est la page d'accueil</h1>
        {# pour écrire un commentaire #}
        {# nom est disponible car on l'a passé en paramètre de la méthode render() dans le controleur #}
        {{ nom }}
    </body>
</html>
