{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block content %}
    {#{{ dump(articles) }}#}
    <ul>
    {% for article in articles %}
        <li>{{ article.title }} publié le {{ article.datepubli|date('d/m/Y') }}</li>
    {% endfor %}
    </ul>

{% endblock %}
